.header{
  display: flex;
  height: 100px;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.city{
display: flex;
flex-direction: column;
}


.cityСhangeAndlocationBox{
  max-width: 100%;
  display: flex;
  align-items: center;
}



.weatherDataBlock{
  display: flex;
  justify-content: space-between;
}

.cityСhange{
  background: unset;
  border: none;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-right: 50px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.cityСhange:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.location{
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;


  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.location img{
  width: 30px;
  height: 30px;
}

.cityName {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
}

.boxTemper{
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.boxTemperButton{
  display: flex;
  justify-content: space-evenly;
  width:80px;
  height: 30px;
  mix-blend-mode: normal;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
}

.boxTemper span{
  color: white;
  width: 8px;
  height: 22px;
}


.boxTemperButton button {
 
  border: none;
  width: 100%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  
}

.deactiveButtonMetric{
  opacity: 0.4;
  background: unset;
}

.boxTemperButton button:hover{
  color: #FFFFFF;
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.activeButtonMetric {
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.searcCity{
  width: 300px
}

.searcCity button{
  width: 80px;
  height: 20px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
}

.searcCity button:hover{
 cursor: pointer;
}

.stateWeather{
  width: 100%;
  display: flex;
  justify-content: space-between;

}


.stateWeatherItem{
  display: flex;
  flex-direction: column;
}


.stateWeatherItem h3{
  padding-right: 10px;
}

.wather{
  margin:  0 auto;

  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items:center;
}


.wather span{
  height: 48px;
  left: 101px;
  right: 125px;

  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  
  color: #FFFFFF;
}

.wather img{
  width: 200px;
  height: 200px;
}

.imgAndTempBox{
  display: flex;
  align-items: center;
}

.imgAndTempBox h4{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 170px;
  margin: 0;

  color: #FFFFFF;
}


.stateWeather h3{

  height: 22px;

  margin-top: 100px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;


  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.stateWeather span{

  height: 30px;


  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;

  color: #FFFFFF;
}



/******************************** MOBILE ******************************/

.headerMobile{
  width: 100%;
  height: 100px;
  margin-top: 50px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.blokHeaderMobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blokLine1Mobile{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.searcCityMobile{
  width: 100%;
}



/******************************** @MEDIA *******************************/


@media(max-width:750px){

  .header{
    display: none;
    
  }

  .headerMobile{
    display: flex;
  }
  .stateWeather{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2 1fr) ;
    grid-row-gap: 10px;
    
    margin-bottom: 30px;
    }

    .stateWeather h3
    {
      margin:  0;
    }

    .weatherDataBlock{
      justify-content: unset;
    }
}


@media(max-width:500px){

  .imgAndTempBox h4{
    font-size: 80px;
  }

  
}

@media(max-width:450px){
  .container{
    max-width: 300px;
  }

 
  .imgAndTempBox h4{
    font-size: 80px;
  }

  .wather span{
    font-size: 35px;
  }

  .wather img{
    width: 150px;
    height: 150px;
  }

  .stateWeatherItem span{
    word-wrap: break-word;
    font-size:20px;
    line-height: 20px;
  }
  
  .stateWeatherItem h3{
    word-wrap: break-word;
    font-size:16px;
  }


  .weatherDataBlock{
    flex-direction: column;
  }
  
  .stateWeather{
    margin-top: 30px;
  }
  
}
